<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
</head>
<a>
  <h1><%= message %></h1>
  <a href="/produto">
    <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
  <p class="letrinhas-h3">Celular Hello Kitty</p>
  <p class="letrinhas-h3">R$: 100,99</p>
  <p class="letrinhas">Descrição do produto lalalalalalalallalalalalallalalalallalallalalalallalala</p>
  </div>
 
</a>
<a href="/produto">
  <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
  <p>Funko Pop Hello Kitty</p>
  <p>R$: 59,99</p>
  </div>
  </a>
  <a href="/produto">
    <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
    <p>Funko Pop Hello Kitty</p>
    <p>R$: 59,99</p>
    </div>
    </a>
    <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
      <p>Funko Pop Hello Kitty</p>
      <p>R$: 59,99</p>
      </div>
      </a>
      <a href="/produto">
        <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
        <p>Funko Pop Hello Kitty</p>
        <p>R$: 59,99</p>
        </div>
        </a>
        <a href="/produto">
          <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
          <p>Funko Pop Hello Kitty</p>
          <p>R$: 59,99</p>
          </div>
          </a>
          <a href="/produto">
            <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
            <p>Funko Pop Hello Kitty</p>
            <p>R$: 59,99</p>
            </div>
            </a>
            <a href="/produto">
              <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
              <p>Funko Pop Hello Kitty</p>
              <p>R$: 59,99</p>
              </div>
              </a>
              <a href="/produto">
                <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
                <p>Funko Pop Hello Kitty</p>
                <p>R$: 59,99</p>
                </div>
                </a>
                <a href="/produto">
                  <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/600x700/84/84034/produto/188446290/funko-pop--hello-kitty-in-noodle-cup-hello-kitty-46-caixa-800-jji0rl0af6.jpg" alt="">
                  <p>Funko Pop Hello Kitty</p>
                  <p>R$: 59,99</p>
                  </div>
                  </a>
               
</body>
</html>