<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
</head>

<a>
  <nav class="navbar navbar-expand-lg" style="background-color: #EF95B2;">
    <h1 class="nominho">Produtos Hello Kitty</h1>
    <ul class="nav-item">
      <li><a class="nav-link active" aria-current="page" style="color: #A90623; font-family: atma, cursive;">Carrinho</a></li>
      <br>
      <li><a class="nav-link active" aria-current="page" style="color: #A90623; font-family: atma, cursive;">Favoritos</a></li>
      <br>
      <li><a class="nav-link active" aria-current="page" style="color: #A90623; font-family: atma, cursive;">Promoções</a></li>
    </ul>
  </nav>
  
  <% for (let produto of produtos) {%>
  <a href="/produto">
    <div class="produto-card"><img class="image" src="/imagens/<%= produto.imagem %>" alt="">
  <p class="letrinhas-h3"><%= produto.nome %></p>
  <p class="letrinhas-h3"><%= produto.preco %></p>
  <p class="letrinhas"><%= produto.descricao %></p>
  </div>
  <% } %>
</a>


  <!--<a href="/produto">
  <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
  <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
  <p class="letrinhas-h3">R$: 299,99</p>
  <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
  </div>
  </a>
  <a href="/produto">
    <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
    <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
    <p class="letrinhas-h3">R$: 299,99</p>
    <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
    </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
  </a>
  <a href="/produto">
      <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
      <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
      <p class="letrinhas-h3">R$: 299,99</p>
      <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
      </div>
 </a>-->


               
</body>
</html>