<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<a>
  <h1><%= message %></h1>
  <a href="/produto">
  <div class="produto-card"><img class="image" src="https://m.media-amazon.com/images/I/516YwYLGL8L._AC_UF1000,1000_QL80_.jpg" alt=""></div>
</a>
