<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
</head>
<a>
  <h1 class="nominho">Produtos Hello Kitty</h1>
  <a href="/produtos">
  <div class="produto-cardd"><img class="imagee" src="/imagens/<%= produto.imagem %>"alt="">
    <p class="letrinhas-h3"><%= produto.nome %></p>
    <p class="letrinhas-h3"><%= produto.preco %></p>
    <p class="letrinhas"><%= produto.descricao %></p>
  </div>
</a>