<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
</head>
<a>
  <h1><%= message %></h1>
  <a href="/produto">
  <div class="produto-card"><img class="image" src="https://cdn.awsli.com.br/2500x2500/84/84034/produto/140598404/hkkk3-lqkx7bzmsz.jpg" alt="">
    <p class="letrinhas-h3">Funko Pop Sanrio Team USA Gymnast</p>
    <p class="letrinhas-h3">R$: 299,99</p>
    <p class="letrinhas">Esse produto é considerado EXCLUSIVO. Quando o Funko Pop é considerado exclusivo significa que o número de unidades produzidas foi limitado e, portanto, a figura se torna mais rara.</p>
  </div>
</a>
