body {
    background: #f2d0d1;
  }
  
  .produto-card{
    background-color: #FFFF;
    
    display: inline-block;
    width: 300px;
    height: 505px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
    box-shadow:1px 2px 3px 4px rgba(20,20,20,0.4);
  }

  .produto-cardd{
    background-color: #FFFF;
    
    display: inline-block;
    width: 600px;
    height: 505px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
    box-shadow:1px 2px 3px 4px rgba(20,20,20,0.4);
    text-align: center;
    
  }

  .image{
    height: 350px;
    width: 290px;
    margin-left: -4px;
  }

  .imagee{
    height: 350px;
    width: 290px;
    margin-left: 0px;
  }


  .letrinhas-h3{
    padding: 5px;
    font-family:'Cinzel Decorative', cursive;
    font-size: 15px;
    color: #A90623;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .letrinhas{
    padding: 5px;
    font-size: 15px;
    font-family:'Paprika', sans-serif;
    color: #A90623;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .letrinhas:hover{
    padding: 5px;
    margin: 0;
    font-size: 12px;
    font-family:'Paprika', sans-serif;
    white-space: normal;
  }

.nominho{
  font-size: 30px;
  color: #A90623;
  background-color: #ffb3c8;
  padding: 10px 40px;
  font-family: Atma, cursive;
  height: 60px;
  text-shadow: 2px 2px 3px #ffffff

}

.button-red{
  color: whitesmoke;
  background-color: #A90623;
  font-family: Atma, cursive;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
}

.rodape{
  bottom: 0;
  position: fixed;
  width: 110%;
  background-color: #ffb3c8;
  font-family: Atma, cursive;
  color:#A90623;
}